@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc

@model RenderingModel

<html>
<head>
    <title>Helix Example</title>
</head>
<body>
    @Html.Sitecore().Placeholder("Page.Grid")
</body>
</html>
