<?xml version="1.0" encoding="utf-8" ?>
<!--
<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="example-site" patch:after="site[@name='website']"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootpath="/sitecore/content/All Sites/Main Site/Example"
            startItem="/Home"
            hostName="example-site"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registeryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true" />
    </sites>
  </sitecore>
</configuration>




Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="example-site" patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            hostName="example-site"
            rootPath="/sitecore/content/All Sites/Main Site/Example"
            startItem="/home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
  </sitecore>
</configuration>